table.table.toc {
	border-collapse: collapse;
}

.stripe1 {
    background-color:#0f0;
}
.stripe2 {
    background-color:#afa;
}
.highlight {
    background-color: #ffcc00;

}
/*
table tr:nth-child(odd){
	background-color:#0f0;
}

table tr:nth-child(even){
	background-color:#afa;
}
/*
table tr:hover {
	background-color: red;
}

*/



